
.para{
    color: black;
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5rem;
    font-size:20px;

}
.why-chos{
   
   
   
    max-width: 100%;
    overflow-x: hidden;
    color: black;
}
h2{color:rgb(255, 55, 0) !important;
    font-weight: 600 !important;
  

    margin-top: 5rem !important;}
    img{border-radius: 3px;}