.review {
  margin: 0;
  background-color: azure;
}
.review h2 {
  letter-spacing: 3px;
  font-weight: 500;
}
.review h2 span {
  color: #be975b;
}
.wave .cardsize {
  box-shadow: 0px 0px 3px black;
  padding: 1rem;
  width: 98%;
  height: 25rem;
}
.review .card .fa-user {
  background-color: blue;
  color: #fff;
  height: 28px;
  width: 28px;
  padding: 5px 5px;
  border-radius: 50%;
}
.review .card img {
  width:50px;
  height: 50px;
  float: right;
}
.rating i{
  color: rgb(255, 251, 16);
  padding: 4px;
  text-shadow: 1px 0px 2px rgb(58, 57, 57);
}
.review .swiper {
  padding: 3rem;
}
.react-multi-carousel-item .react-multi-carousel-item--active div {
  padding: 0.2rem !important;
}
.react-multi-carousel-list  {
  width: 100% !important;
}

.wave {
  float: left;
  margin: 20px;
  animation: wave  ease-in-out 0.5s infinite alternate;
  transform-origin: center -36px;
}

.wave:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.wave img {
  border: 5px solid #f8f8f8;
  display: block;
  width: 350px;;
  height:140px;
}
.wave figcaption {
  text-align: center;
}

.wave:after{
  content: '';
  position: absolute;
  width: 20px; 
  height: 20px;
  border: 1.5px solid #ffffff;
  top: -10px; 
  left: 50%;
  border-bottom: none;
  border-right: none;
  transform: rotate(35deg);
}
.wave:before{
  content: '';
  position: absolute;
  top: -23px;
  left: 50%;
  display: block;
  height: 44px;
  width: 47px;
  background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  z-index: 16;
}
        
@keyframes wave {
  0% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}


@media (max-width: 468px) {
  .review .card {
      width: 100%;
  }
}