.services-cont{
   
    
    box-shadow: 1rem;
    max-width: 100%;
    overflow-x: hidden;
}

.services-img{
    
    width: 100%;
    height: 30%;
}
#design h1{color:rgb(255, 55, 0);
    margin-top: 5rem !important;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
    .services-cont h2{color: rgb(194, 8, 8);
        margin-top: -2rem !important;}
        @media screen and(max-width: 768px){

            

        }
            
        
        