.myReact-icons{
    justify-content: center;
    border-radius: 100%;
    border-color: black;
    border-width: 10px;
    box-shadow: 1px 1px 1px green;
    
    
}
h1{color:rgb(255, 55, 0);
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.develop{
height:auto;

}
.develop .textprocess{
    background:rgba(244, 241, 240, 0.195); 
    padding:50px;


width: 100%;}

.develop img{
    height:auto;
    width:100% !important;
  
   
    
}


@media only screen and (min-width: 600px){
   
    .develop img{
        height:auto;
        width: 400px;
 
       
        

    }
    .develop .textprocess{position:static;
        background:rgba(244, 241, 240, 0.195); 
        padding:50px;
    
    
    width: 100%;}
    .develop .textprocess{position:absolute ;
        background:rgba(244, 241, 240, 0.195); 
        padding:2px;
       
    
    width: 100%;}
}
@media screen and (max-width: 768px) {
    
    .develop img{
        height:auto;
        width: 400px;
        
    }
    .develop .textprocess{position:absolute;
        background:rgba(244, 241, 240, 0.195); 
        padding:2px;
       
    
    width: 100%;}
    
}
@media screen and (max-width: 412px) {
   
    .develop img{
        height:auto;
        width: 400px;
      
       
        
    }
}
